<div class="container" [@lista-animacao]='estado'>
  <div class="row">
    <div class="col">
      <a class="link-primary" [routerLink]="['/pessoas']">Voltar</a>
      <h1 class="text-center">Pessoa</h1>
      <form [formGroup]="formulario">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" formControlName="nome" [ngClass]="pegarCssFormulario('nome')" placeholder="João Andrade"
            class="form-control" id="nome">
          <div class="invalid-feedback" *ngIf="formulario.get('nome')?.getError('required')">
            {{campoObrigatorio('Nome')}}
          </div>
          <div class="invalid-feedback"
            *ngIf="formulario.get('nome')?.getError('minlength') || formulario.get('nome')?.getError('maxlength')">
            {{campoTamanhoMaximoEMinimo('Nome', 1, 255)}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email">Email</label>
            <input type="text" formControlName="email" [ngClass]="pegarCssFormulario('email')"
              placeholder="cliniconect@gmail.com" class="form-control" id="email">

            <div class="invalid-feedback" *ngIf="formulario.get('email')?.getError('required')">
              {{campoObrigatorio('Email')}}
            </div>
            <div class="invalid-feedback"
              *ngIf="formulario.get('email')?.getError('minlength') || formulario.get('email')?.getError('maxlength')">
              {{campoTamanhoMaximoEMinimo('Email', 1, 255)}}
            </div>

            <div class="invalid-feedback" *ngIf="formulario.get('email')?.getError('email')">
              {{campoInvalido('Email')}}
            </div>
          </div>
          <div class="col">
            <label for="cpf">Cpf</label>
            <input type="text" formControlName="cpf" [ngClass]="pegarCssFormulario('cpf')" mask="000.000.000-00"
              placeholder="###.###.###-##" class="form-control" id="cpf">

            <div class="invalid-feedback" *ngIf="formulario.get('cpf')?.getError('required')">
              {{campoObrigatorio('Cpf')}}
            </div>

            <div class="invalid-feedback" *ngIf="formulario.get('cpf')?.getError('mask')">
              {{campoInvalido('Cpf')}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="sexo">Sexo</label>
            <select [ngClass]="pegarCssFormulario('sexo')" formControlName="sexo" class="form-select" id="sexo">
              <option value="MASCULINO">Masculino</option>
              <option value="FEMININO">Feminino</option>
            </select>

            <div class="invalid-feedback" *ngIf="formulario.get('sexo')?.getError('required')">
              {{campoObrigatorio('Sexo')}}
            </div>

          </div>
          <div class="col">
            <label for="dataNascimento">Data de Nascimento</label>
            <input type="text" [ngClass]="pegarCssFormulario('dataNascimento')" formControlName="dataNascimento"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', useUtc: true }" placeholder="dd/MM/yyyy" bsDatepicker class="form-control"
              id="dataNascimento">

            <div class="invalid-feedback" *ngIf="formulario.get('dataNascimento')?.getError('required')">
              {{campoObrigatorio('Data de Nascimento')}}
            </div>
            <div class="invalid-feedback" *ngIf="formulario.get('dataNascimento')?.getError('bsDate')">
              Data inválida!
            </div>

          </div>
          <div class="col">
            <label for="celular">Celular</label>
            <input type="text" [ngClass]="pegarCssFormulario('celular')" formControlName="celular"
              mask="(00) 0 0000-0000" placeholder="(99) 9 9999-9999" class="form-control" id="celular">

            <div class="invalid-feedback" *ngIf="formulario.get('celular')?.getError('required')">
              {{campoObrigatorio('Celular')}}
            </div>

            <div class="invalid-feedback" *ngIf="formulario.get('celular')?.getError('mask')">
              {{campoInvalido('Celular')}}
            </div>
          </div>
        </div>
        <div class="espacamento-topo">
          <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
          <button class="btn btn-primary espacamento-esquerda" (click)="salvar()"
            [disabled]="formulario.invalid">{{textoBotao()}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
