/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

:root {
  --cor-do-sucesso: #238636;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.espacamento-topo {
  margin-top: 15px;
}

.espacamento-esquerda {
  margin-left: 15px;
}

.espacamento-baixo {
  margin-bottom: 15px;
}

.cursor-link {
  cursor: pointer;
}

.cor-botao-editar {
  color: rgb(232, 236, 0);
}

.cor-botao-editar:hover {
  color: rgb(251, 255, 0);
}

.cor-botao-deletar {
  color: rgb(224, 33, 33);
}

.cor-botao-deletar:hover {
  color: rgb(248, 45, 45);
}

.cor-botao-endereco {
  color: rgb(0, 86, 143);
}

.cor-botao-endereco:hover {
  color: rgb(3, 113, 187);
}
